.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    width: 96px;
    height: 100px;
    border: 1px solid #000;
    position: relative;
}
span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #000;
    transform: translate(-50% -50%);
    transition: all 0.3s ease-in-out;
}
span:nth-child(1) {
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
}
span:nth-child(2) {
    left: auto;
    right: 0;
    top: 10%;
    transform: none;
}
span:nth-child(3) {
    left: auto;
    right: 0;
    top: 29%;
    transform: none;
}
span:nth-child(4) {
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
span:nth-child(5) {
    left: 0;
    top: 29%;
    transform: none;
}
span:nth-child(6) {
    left: 0;
    top: 10%;
    transform: none;
}

.box:hover span:nth-child(1) {
    top: 50%;
    transform: translate(-50%,-17%);
}
.box:hover span:nth-child(2) {
    right: 50%;
    transform: translate(50%,50%);
}
.box:hover span:nth-child(3) {
    right: 50%;
    transform: translate(50%,18%);
}
.box:hover span:nth-child(4) {
}
.box:hover span:nth-child(5) {
    left: 50%;
    transform: translate(-50%,17%);
}
.box:hover span:nth-child(6) {
    left: 50%;
    transform: translate(-50%,50%);
}

/* .box:hover span:nth-child(1) {
    top: 50%;
    transform: translate(-50%,-50%);
}
.box:hover span:nth-child(2) {
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);
}
.box:hover span:nth-child(3) {
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);
}
.box:hover span:nth-child(4) {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.box:hover span:nth-child(5) {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.box:hover span:nth-child(6) {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
} */